body {
    background-color: #06B3F9;
}

h1, h2 {
    font-family: 'Hind Siliguri', sans-serif;
    color: #551d02;
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

hr {
    width: 50%;
    border-top: 2px solid;
    border-bottom: none;
    color: #551d02;    
}

.intro {
    padding: 20px 40px;
    margin: -20px;
}

.Marduk {
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
    width: 20%;
    margin: 20px;
}

.intro {
    background-color: #F94C06;
}

#email-form {
    margin: 20px 0px;
}