h1, h2 {
    font-family: 'Hind Siliguri', sans-serif;
    color: brown;
}

p {
    font-family: 'Roboto', sans-serif;
}

.Marduk {
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
    width: 20%;
}

.intro {
    background-color: silver;
}